.container-main-content-help {
  width: 75%;
  margin: 8vh auto 0 auto;
  /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
  /* Safari */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row; }
  .container-main-content-help .container-card {
    width: 75%;
    color: black;
    background: radial-gradient(ellipse at center, white 0%, #cbcbcc 100%);
    padding: 10px 20px 50px 20px; }
    .container-main-content-help .container-card header h1, .container-main-content-help .container-card p {
      text-align: center; }
    .container-main-content-help .container-card .accordion {
      position: relative;
      display: block;
      background-color: white;
      border: 1px solid darkgray;
      border-top: none; }
      .container-main-content-help .container-card .accordion .accordion__item {
        display: block; }
        .container-main-content-help .container-card .accordion .accordion__item .accordion__trigger {
          text-decoration: none; }
        .container-main-content-help .container-card .accordion .accordion__item .accordion__title {
          position: relative;
          display: block;
          margin: 0;
          padding: 10px;
          font-size: 1.1em;
          background-color: #296e75;
          color: white;
          border: 1px solid #2b7981;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #276c74, 0 4px 2px rgba(0, 0, 0, 0.5); }
          .container-main-content-help .container-card .accordion .accordion__item .accordion__title:hover {
            background-color: #338A94; }
          .container-main-content-help .container-card .accordion .accordion__item .accordion__title::after {
            position: absolute;
            content: "";
            right: 20px;
            width: 7px;
            height: 7px;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            transform: rotate(-45deg); }
        .container-main-content-help .container-card .accordion .accordion__item .accordion__content {
          display: block;
          padding: 0;
          height: 0;
          overflow: hidden;
          transition: height 0.5s ease, padding 0.3s linear; }
          .container-main-content-help .container-card .accordion .accordion__item .accordion__content p {
            font-size: 1.1em;
            text-align: left;
            padding: 20px 20px 0 20px;
            margin: 0; }
            .container-main-content-help .container-card .accordion .accordion__item .accordion__content p span {
              font-weight: 700; }
          .container-main-content-help .container-card .accordion .accordion__item .accordion__content:target {
            height: 160px; }
