@import url(./links.css);
.stats-outer {
  width: 100%;
  height: calc(87vh + 5vh + 1vh);
  margin-top: 8vh;
  display: block;
  position: relative; }
  .stats-outer::after {
    content: "";
    background: url("../../assets/images/courses/Cottesmore1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .stats-outer .report-and-scorecard {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .stats-outer .report-and-scorecard .report {
      flex-basis: 33%;
      min-height: 50vh;
      background-color: rgba(255, 250, 250, 0.85);
      color: black;
      border-radius: 10px;
      padding: 2vh 2vw 0px 2vw;
      line-height: 1.8vw;
      font-size: 1.1vw;
      background-image: url("../../assets/images/miscellaneous/old-paper.jpg");
      background-size: cover;
      background-position: center; }
      .stats-outer .report-and-scorecard .report p.roundInfo {
        font-size: 0.9em;
        color: slategray;
        text-align: center;
        margin: 0;
        padding: 0; }
      .stats-outer .report-and-scorecard .report .heading {
        margin-top: 0;
        text-align: center; }

.stats {
  width: 75%;
  z-index: 1;
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px; }
  .stats.scorecard {
    padding-bottom: 0;
    margin-bottom: 10px; }
  .stats table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse; }
    .stats table.scorecard {
      width: 100%; }
  .stats col.yards {
    background-color: yellow; }
  .stats .header {
    width: 100%;
    font-size: 1.4vw;
    font-weight: 700;
    min-height: 6vh;
    padding: 1vh 0;
    background-color: orange;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-evenly;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .stats .header span.major .winnerStar {
      flex-basis: 15%;
      font-size: 96px;
      text-align: center;
      position: relative; }
    .stats .header span.major {
      position: relative; }
      .stats .header span.major .majorText {
        position: absolute;
        color: white;
        font-size: 12px;
        top: -10px;
        left: 0;
        right: 0;
        bottom: 0;
        /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
        /* Safari */
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-evenly;
        -webkit-align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; }
    .stats .header span.courseName {
      flex-basis: 55%;
      text-align: center;
      justify-content: center; }
    .stats .header .selectYearOfCompetition, .stats .header .selectCourseName, .stats .header .selectPar, .stats .header .selectDateOfRound {
      font-size: 1.0em;
      margin-left: 25px; }
    .stats .header .title {
      /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
      /* Safari */
      display: -webkit-flex;
      -webkit-flex-direction: row;
      -webkit-align-items: center;
      display: flex;
      flex-direction: row;
      align-items: center; }
    .stats .header .winners {
      /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
      /* Safari */
      display: -webkit-flex;
      -webkit-flex-direction: row;
      -webkit-align-items: center;
      display: flex;
      flex-direction: row;
      align-items: center; }
    .stats .header.narrow {
      padding: 10px 0;
      margin-bottom: 0; }
  .stats tr.headings {
    background-color: #e2e2e2; }
    .stats tr.headings > th {
      padding: 15px 0; }
  .stats tr.headings.main > th {
    padding: 10px 0 5px 0;
    vertical-align: top; }
  .stats tr.headings.players > th {
    padding: 5px 0 10px 0; }
  .stats tr.major {
    background-color: #f0f3f0; }
  .stats tr.round, .stats tr.hole, .stats tr.holeRow, .stats tr.oomYear {
    border-bottom: 1px solid lightgray; }
  .stats tr.hole > td {
    border: 1px solid lightgray;
    padding: 5px 0; }
  .stats tr.totals > td {
    text-align: center;
    font-weight: 700;
    padding: 20px 0 0 0; }
  .stats tr.totals.alignCenter > td {
    text-align: center; }
  .stats tr.totals.alignRight > td {
    text-align: right; }
  .stats tr.oomYear > td {
    padding: 10px 0; }
  .stats tr.subTotalsRow {
    background-color: #e2e2e2; }
    .stats tr.subTotalsRow > td {
      font-weight: 600;
      padding: 5px 0; }
  .stats tr.totalsRow {
    background-color: #99CCFF; }
    .stats tr.totalsRow > td {
      font-size: 1.1em;
      font-weight: 600;
      padding: 10px 0; }
  .stats tr.totalsRow.alignCenter > td {
    text-align: center; }
  .stats tr.totalsRow.alignRight > td {
    text-align: right; }
  .stats tr.summary > td {
    font-weight: 600;
    padding: 20px 0;
    text-align: center; }
  .stats tr.key td {
    text-align: center;
    padding: 2vh 0; }
  .stats tr.key span {
    padding: 5px 10px;
    margin-left: 20px; }
  .stats th {
    color: darkblue;
    text-align: center; }
    .stats th.names {
      width: 3%; }
    .stats th.spacer {
      width: 4%; }
    .stats th.endSpacer {
      width: 1%; }
    .stats th.courseName, .stats th.year {
      text-align: left; }
    .stats th.names.alignCenter {
      text-align: center; }
    .stats th.names.alignRight {
      text-align: right; }
    .stats th.namesSubHeading.alignCenter {
      text-align: center; }
    .stats th.namesSubHeading.alignRight {
      text-align: right; }
    .stats th.names {
      padding: 5px 0 10px 0;
      white-space: pre-wrap; }
    .stats th.headings {
      font-size: 1em; }
    .stats th.namesSubHeading {
      font-size: 0.8em; }
  .stats table.scorecard th.names {
    font-size: 1em;
    text-align: center; }
  .stats td {
    text-align: center;
    padding: 5px 0; }
    .stats td.endSpacer {
      width: 1%; }
    .stats td.roundNumber {
      width: 3%; }
    .stats td.holeNumber {
      width: 3%; }
    .stats td.yearOfCompetition {
      width: 5%; }
    .stats td.dateOfRound {
      width: 12%; }
    .stats td.oom-points {
      width: 3.5%; }
    .stats td.year, .stats td.courseName {
      text-align: left; }
    .stats td.roundNumber, .stats td.holeNumber, .stats td.yearOfCompetition, .stats td.dateOfRound, .stats td.position, .stats td.strokeIndex, .stats td.stableford-score, .stats td.handicap {
      text-align: center; }
    .stats td.oom-points, .stats td.ntps, .stats td.totals, .stats td.holeTotals {
      text-align: right; }
    .stats td.year, .stats td.roundNumber, .stats td.holeNumber, .stats td.dateOfRound {
      color: darkblue; }
    .stats td.strokeIndex {
      color: red; }
    .stats td.position {
      padding: 0; }
    .stats td .winnerStar {
      color: goldenrod; }
    .stats td span.totals-winners {
      background-color: goldenrod;
      padding: 5px;
      border-radius: 50%; }
  .stats .key-par {
    background-color: #FFFF99; }
  .stats .key-birdie {
    background-color: #99FF00; }
  .stats .key-eagle {
    background-color: #FF3300; }
  .stats .img-winners {
    height: 75px;
    border-radius: 25%;
    margin-left: 25px; }
  .stats span.color-key-majors {
    background-color: #f0f3f0;
    padding: 5px;
    margin: 0 0 0 25px; }

.buttons {
  margin: 1vh auto;
  /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
  /* Safari */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .buttons Button {
    margin-left: 2vw; }
  .buttons Button:nth-of-type(1) {
    margin-left: 0; }

@media screen and (max-width: 1024px) {
  .stats-outer .stats {
    width: 90%; }
    .stats-outer .stats .header {
      font-size: 1.2em; } }
