.container-main-content-player-profiles {
  margin: 8vh auto 0 auto;
  /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
  /* Safari */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .container-main-content-player-profiles .container-card {
    flex-basis: 20%;
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    margin: 0 2vw; }
    .container-main-content-player-profiles .container-card h2 {
      font-size: 1.7vw;
      margin: 1vh auto 2vh; }
    .container-main-content-player-profiles .container-card img.thumbnail {
      height: 25vh;
      border-radius: 50%;
      margin: 0 auto 3vh; }
    .container-main-content-player-profiles .container-card table {
      font-size: 1.2vw;
      width: 90%;
      margin: 0 auto; }
    .container-main-content-player-profiles .container-card tr > td:nth-of-type(2n) {
      text-align: right; }
    .container-main-content-player-profiles .container-card tr > td.spacer {
      padding: 1vh 0; }
    .container-main-content-player-profiles .container-card p.playerProfile {
      text-align: center;
      font-size: 1.4vw;
      margin: 4vh 0 1vh; }

@media only screen and (max-width: 1024px) {
  .container-main-content-player-profiles .container-card-player-profiles {
    font-size: 0.8em; } }
