.container-main-content-about {
  width: 90%;
  margin: 8vh auto 0 auto;
  /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
  /* Safari */
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column; }
  .container-main-content-about .container-about {
    z-index: 1;
    display: flex;
    margin: 2vh 0; }
    .container-main-content-about .container-about > div {
      width: 45%; }
  .container-main-content-about .container-about-inner {
    margin-bottom: 2.5vh; }

.container-card.header {
  width: 25%;
  text-align: center; }

.container-card ul li {
  font-size: 1.2vw;
  padding: 1vh 1vw; }

@media only screen and (max-width: 1024px) {
  .container-card.header {
    width: 50%; }
  .container-card ul li {
    font-size: 1.2em; } }
