.report-and-scorecard.oom {
  width: 95%;
  top: 4vh; }

.stats.scorecard.oom {
  position: relative;
  top: 0;
  width: 60%;
  margin: 0; }
  .stats.scorecard.oom .holeNumber {
    width: 10%; }
  .stats.scorecard.oom .par {
    width: 7%; }
  .stats.scorecard.oom .yardage {
    width: 7%; }
  .stats.scorecard.oom .strokeIndex {
    width: 7%; }
  .stats.scorecard.oom .names {
    width: 12%; }
  .stats.scorecard.oom .actualScorecard {
    text-align: left;
    padding-left: 1vw; }
