<DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CSS Layout</title>
		<link rel="stylesheet" type="text/css" href="css_layout1.css" />
	</head>
	<body>
		<div class="banner">
			<img alt="Banner" src="images\3rdheadpic.jpg" height="100" width="800"/>
		</div>
		<!--<p><marquee>Welcome to my Web Site</marquee></p>-->
		<div class="nav">
			<p style="text-align : center"><strong>Links</strong><p>
			<ul>
<li><a href="headings.htm" target="_blank">Headings</a></li>
<li><a href="text.htm" target="_blank">Text Elements</a></li>
<li><a href="sup.htm" target="_blank">Superscript &amp;Subscript</a></li>
<li><img src="images\OOM.gif" target="_blank"></a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
<li><a href="del.htm" target="_blank">Deleted Text</a></li>
</ul>
		</div>
	<h1 class="heading">Bishop wins at Rusper</h1>
	<!--div class="content"><img class="martin" alt="Martin" src="images\3rdheadpic.jpg" height="200" width="183" /-->
	<div class="content"><img class="martin" alt="Martin" dynsrc="ThomasShorehamCollege.wmv"
	height="200" width="183" start="mouseover">
	<p>Dave Bishop secured a controversial victory at the players 'favourite' course   
with a par 4 on the 18th hole, despite missing a 4 foot birdie putt by woefully leaving it short.</p>
<p>It was all to play for down the 18th with all 4 competitors within 3 points of each other.</p>
<p>The early pacemaker was Martin Anderson who was 3 over par after 7 holes before succumbing to
the Rusper 'forest' holes.  Anderson ended up finishing 4th, the first time he has not finished
in the top 2 this season.</p>
</div>
	<p id="copyright">Web Design by Martin Anderson &nbsp; &nbsp; &copy; Copyright 2006. &nbsp; &nbsp; All rights reserved.</p>
	<!-- object data="ThomasShorehamCollege.wmv" type="video/avi" height="150" width="250"-->
		</object>	
	</body>
</html>