<html>
	<head>
	<title> </title>

	<style type="text/css">
		td {text-align: center;}
		table {background-color: white; color: black;}
		td.strokeIndex {background-color: white; color: red;}
	</style>
	
	</head>
	<body>
	<table border="5" width=60% cellpadding="5" cellspacing="0" align="center">
		<caption>Goodwood</caption>
		<colgroup>
		<col />
		<col />
		<col bgcolor="yellow"/>
		</colgroup>
		<tr font-size="0.5em">
			<td>Hole</td>
			<td>Name</td>
			<td>Yards</td>
			<td>Par</td>
			<td class="strokeIndex">Stroke Index</td>
			<td>Dave</td>
			<td>Jack</td>
			<td>Martin</td>
			<td>Steve</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Goldings Dip</td>
			<td>423</td>
			<td>4</td>
			<td class="strokeIndex">2</td>
			<td>6-1</td>
			<td>5-3</td>
			<td>6-1</td>
			<td>6-1</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Silver Birches</td>
			<td>185</td>
			<td>3</td>
			<td class="strokeIndex">6</td>
			<td>4-2</td>
			<td>4-2</td>
			<td>5-1</td>
			<td>4-2</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Twin Oaks</td>
			<td>372</td>
			<td>4</td>
			<td class="strokeIndex">10</td>
			<td>5-2</td>
			<td>5-2</td>
			<td>4-3</td>
			<td>6-1</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Cedar Line</td>
			<td>341</td>
			<td>4</td>
			<td class="strokeIndex">12</td>
			<td>5-2</td>
			<td>6-1</td>
			<td>4-3</td>
			<td>5-2</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Racecourse View</td>
			<td>459</td>
			<td>5</td>
			<td class="strokeIndex">14</td>
			<td>5-3</td>
			<td>7-1</td>
			<td>4-4</td>
			<td>6-1</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Paddocks</td>
			<td>285</td>
			<td>4</td>
			<td class="strokeIndex">18</td>
			<td>5-1</td>
			<td>4-3</td>
			<td>5-1</td>
			<td>5-1</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Cottage Corner</td>
			<td>352</td>
			<td>4</td>
			<td class="strokeIndex">8</td>
			<td>4-3</td>
			<td>5-2</td>
			<td>5-2</td>
			<td>6-1</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Bluebells</td>
			<td>157</td>
			<td>3</td>
			<td class="strokeIndex">16</td>
			<td>4-2</td>
			<td>4-2</td>
			<td>4-2</td>
			<td>4-1</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Greenkeepers Rest</td>
			<td>367</td>
			<td>4</td>
			<td class="strokeIndex">4</td>
			<td>4-3</td>
			<td>7-1</td>
			<td>7-0</td>
			<td>5-2</td>
		</tr>
	</table>
	</body>
</html>
