.stats.courses-summary {
  text-align: center; }
  .stats.courses-summary .header {
    padding: 0; }
  .stats.courses-summary .courseName {
    width: 15%; }
  .stats.courses-summary .roundsPlayed {
    width: 7%; }
  .stats.courses-summary .majorsPlayed {
    width: 7%; }
  .stats.courses-summary .wins {
    width: 4%; }
  .stats.courses-summary .winsInMajors {
    width: 4%; }
  .stats.courses-summary .bestplayers {
    width: 20%; }
  .stats.courses-summary .spacer {
    width: 5%; }
  .stats.courses-summary th.endSpacer, .stats.courses-summary td.endSpacer {
    width: 2%; }
  .stats.courses-summary tr.summary > td.totalsLabel {
    text-align: left; }
  .stats.courses-summary tr.course > td {
    font-size: 1.0vw;
    border-bottom: 1px solid lightgray; }
  .stats.courses-summary tr:not(.headings):nth-child(even) {
    background-color: #f3f3f3; }
  .stats.courses-summary .img-winners {
    height: 60px;
    margin: 0 10px 0 0; }

@media screen and (max-width: 1024px) {
  .stats-outer .stats.courses-summary {
    width: 90%; }
    .stats-outer .stats.courses-summary tr.course > td {
      font-size: 1.0em; } }
