.stats-outer .stats.scorecard.admin-course-crud {
  width: 60%;
  border: none;
  border-radius: 10px;
  background-color: transparent; }
  .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .header #courseName, .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .header #courseVariation {
      margin-left: 1vw; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .header > span {
      font-size: 1.2vw; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .holeNumber {
      width: 10%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .holeName {
      width: 30%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .par {
      width: 20%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .yardage {
      width: 20%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .strokeIndex {
      width: 20%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .holeName-input-field {
      width: 90%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .par-input-field {
      width: 50%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .yardage-input-field {
      width: 50%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner .strokeIndex-input-field {
      width: 50%; }
    .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner #courseName, .stats-outer .stats.scorecard.admin-course-crud .admin-course-crud-inner #courseVariation {
      font-size: 1.2vw;
      padding: 5px 0; }

@media screen and (max-width: 1024px) {
  .stats-outer .stats.scorecard.admin-course-crud {
    width: 75%; }
    .stats-outer .stats.scorecard.admin-course-crud .header span.title {
      font-size: 1.0em; } }
