.stats.order-of-merit table {
  width: 100%;
  margin: 0; }

.stats.order-of-merit p.current-year-number-of-majors-played {
  text-align: right;
  margin: 0 25px;
  color: #817f7f; }

.container-oom-graph {
  width: 98%;
  margin: 6vh auto 1vh auto; }
