@import '../../sass/_mixins';
@import '../../sass/_variables';


.active-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $background-color-active-link;
}

.active-sport-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $background-color-active-sport-link;
}