footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5.5vh;
  color: white;
  background-color: #4C4C4C;
  text-align: right;
  /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
  /* Safari */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  footer ul {
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 30%; }
    footer ul li {
      border-right: none; }

@media only screen and (max-width: 1023px) {
  footer ul {
    flex-basis: 40%; } }
