nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99; }
  nav .main-heading {
    color: gold;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 1vh 0;
    background: radial-gradient(ellipse at center, #708388 0%, #4a5661 100%);
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2; }
  nav .login-section {
    margin: 0;
    padding: 0; }
  nav .loggedInAs {
    font-size: 12px;
    font-weight: normal;
    text-transform: initial;
    margin-top: 5px;
    color: white; }
  nav .login-buttons {
    line-height: 0;
    /* When calling the function use for example $justify-content: null to not use this property, otherwise it will use the default */
    /* Safari */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  nav .login-buttons button {
    background-color: slategray;
    color: #fff;
    margin: 0 10px 0 0; }
  nav .login-buttons button:hover {
    background-color: #8d9aa6; }
  nav .main-nav {
    color: white;
    background-color: #4C4C4C;
    max-width: 100%;
    margin: 0 auto;
    text-align: center; }
  nav .link-disabled {
    color: darkgray; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 3vh; }
    nav ul li {
      display: inline-block;
      padding: 0.5vh 1vw;
      border-right: 1px solid white; }
    nav ul li:hover {
      cursor: pointer; }
    nav ul li:hover.link-disabled {
      cursor: default; }
    nav ul li:first-child {
      padding-left: 0; }
    nav ul li:last-child {
      border-right: none; }
    nav ul li::after, nav ul li a:hover::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: #4C4C4C; }
    nav ul li a.nav-link:hover, nav ul .nav-child-content a:hover {
      text-decoration: none; }
      nav ul li a.nav-link:hover::after, nav ul .nav-child-content a:hover::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #FFDF43; }
    nav ul .nav-child-content {
      display: none;
      position: absolute;
      background-color: #4C4C4C;
      box-shadow: 0px 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.2);
      margin-top: 0.9vh;
      padding: 0 2.5vw;
      margin-left: -2.5vw;
      text-align: left; }
    nav ul .nav-child-content a {
      display: block;
      padding: 1vh 0;
      min-height: 2.5vh; }
    nav ul .nav-child:hover .nav-child-content {
      display: block; }
  nav a:link {
    color: white;
    text-decoration: none; }
  nav a:active {
    color: yellow; }
  nav a:visited {
    color: white; }

@media only screen and (max-width: 1024px) {
  nav .main-heading {
    font-size: 2vw; } }

@media only screen and (max-width: 450px) {
  nav .main-heading {
    font-size: 1em; } }
