.stats.scores-by-hole {
  width: 80%;
  padding-bottom: 25px; }
  .stats.scores-by-hole .endSpacer {
    width: 2%; }
  .stats.scores-by-hole table {
    width: 100%; }
  .stats.scores-by-hole tr.averages > td {
    text-align: right;
    padding: 25px 0 15px 0; }
  .stats.scores-by-hole tr.averages > td.label {
    text-align: left; }
  .stats.scores-by-hole p.numberOfRounds {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0; }

@media only screen and (max-width: 1024px) {
  .stats.scores-by-hole {
    width: 90%; } }
